*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-snap-type: y mandatory;
    /* scroll-snap-type: x mandatory;
    scroll-snap-type: both mandatory;
    scroll-snap-type: y proximity;
    scroll-snap-type: y proximity; */
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    background-color: rgb(0, 152, 152);
    padding: 10px;
    position: sticky;
    top: 0;
}




div.section{
    padding: 80px 40px;
    scroll-snap-align: start;
    /* scroll-snap-align: end; */
    /* scroll-snap-align: center; */
}
div.section h2{
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
}




ol, ul{
    list-style-position: inside;
}
ul li{
    margin-left: 60px;
    list-style-type: disc;
}



#section1{
    background-color: blanchedalmond;
    display: flow-root;
}
#section2{
    background-color: rgb(252, 177, 65);
}
#section3{
    background-color: rgb(0, 157, 149);
}
#section4{
    background-color: rgb(122, 142, 244);
}
#section5{
    background-color: rgb(241, 143, 177);
}





#box1{
    /* border: 2px solid black; */
    width: 48%;
    float: left;
}
#box2{
    /* border: 2px solid black; */
    width: 48%;
    float: left;
}

img{
    width: 70%;
}
