h1{
    text-align: center;
    background-color: brown;
}
h3{
    background-color: orange;
}
.card{
    width: 150px;
    height: 150px;
    /* position: absolute; */
    /* top: 80%; */
   margin-left: 30%;
    line-height: 150px;
    /* margin: -150px; */
    background-color: white;
    color: #03446A;
    text-align: center;
    font-size: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    animation-name: sample;
    animation-duration: 1s;
}
@keyframes sample{
    from{border-radius: 0%;}
    to{border-radius: 50%;}
}

.card2{
    width: 150px;
    height: 150px;
    margin-left: 30%;
    line-height: 150px;
    background-color: white;
    color: #03446A;
    text-align: center;
    font-size: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    animation-name: sample;
    animation-duration: 1s;
    animation-iteration-count: 3;
}
@keyframes sample{
    from{border-radius: 0%;}
    to{border-radius: 50%;}
}

.card3{
    width: 150px;
    height: 150px;
    margin-left: 30%;
    line-height: 150px;
    background-color: white;
    color: #03446A;
    text-align: center;
    font-size: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    animation-name: sample;
    animation-duration: 1s;
animation-iteration-count: infinite;
 animation-direction: alternate;
}
@keyframes sample{
    0%{border-radius: 0%;}
    100%{border-radius: 50%; background-color: tomato; color: white;}
}

.card4{
    width: 150px;
    height: 150px;
    margin-left: 30%;
    line-height: 150px;
    background-color: white;
    color: #03446A;
    text-align: center;
    font-size: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    animation-name: sample;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}
@keyframes sample{
    from{border-radius: 0%;}
    to{border-radius: 50%;}
}



table{
    width: 100%;
    /* border-spacing: 2px 10px; */
} 

table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
tr:nth-child(even){
background: rgb(222, 222, 222);
}

#common2{
    border: 1px solid blue;
    height: 350px;
    /* display: inline; */
    /* clear: both; */
}
   #table{
 float: left;
    width: 40%;
   }
   #side{
    border: 1px solid rgb(255, 6, 6);
    /* float: right; */
    width: 50%;
    height: 350px;
    box-sizing: border-box;
    margin-left: 45%;
    /* display: inline; */
    
   }

   #ease{
    width: 100px;
    height: 33px;
    background: pink;
    animation-name: ease;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
   @keyframes ease{
    0%{width: 100px;}
    50%{background: rgb(230, 155, 55);}
   100%{width: 400px; background-color: tomato;}
   }

   #Linear{
    width: 100px;
    height: 33px;
    background: pink;
    animation-name: linear;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
   @keyframes linear{
    0%{width: 100px;}
    50%{background: rgb(230, 155, 55);}
   100%{width: 400px; background-color: tomato;}
   }

   #Ease-in{
    width: 100px;
    height: 33px;
    background: pink;
    animation-name: ease-in;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
   @keyframes ease-in{
    0%{width: 100px;}
    50%{background: rgb(230, 155, 55);}
   100%{width: 400px; background-color: tomato;}
   }

   #Ease-out{
    width: 100px;
    height: 33px;
    background: pink;
    animation-name: ease-out;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
   @keyframes ease-out{
    0%{width: 100px;}
    50%{background: rgb(230, 155, 55);}
   100%{width: 400px; background-color: tomato;}
   }

   #Ease-in-out{
    width: 100px;
    height: 33px;
    background: pink;
    animation-name: ease-in-out;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
   @keyframes ease-in-out{
    0%{width: 100px;}
    50%{background: rgb(230, 155, 55);}
   100%{width: 400px; background-color: tomato;}
   }

   #step-start{
    width: 100px;
    height: 33px;
    background: pink;
    animation-name: step-start;
    animation-duration: 2s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
   @keyframes step-start{
    0%{width: 100px;}
    50%{background: rgb(230, 155, 55);}
   100%{width: 400px; background-color: tomato;}
   }

   #step-end{
    width: 100px;
    height: 33px;
    background: pink;
    animation-name: step-end;
    animation-duration: 2s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
   @keyframes stpe-end{
    0%{width: 100px;}
    50%{background: rgb(230, 155, 55);}
   100%{width: 400px; background-color: tomato;}
   }

   #step4{
    width: 100px;
    height: 33px;
    background: pink;
    animation-name: step4;
    animation-duration: 2s;
    animation-timing-function: steps(6, end);
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
   @keyframes step4{
    0%{width: 100px;}
    50%{background: rgb(230, 155, 55);}
   100%{width: 400px; background-color: tomato;}
   }

   #Cubic-bezier{
    width: 100px;
    height: 33px;
    background: pink;
    animation-name: cubic;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
   @keyframes cubic{
    0%{width: 100px;}
    50%{background: rgb(230, 155, 55);}
   100%{width: 400px; background-color: tomato;}
   }


   .card5{
    width: 150px;
    height: 150px;
    margin-left: 30%;
    line-height: 150px;
    background-color: white;
    color: #03446A;
    text-align: center;
    font-size: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    animation: sample cubic-bezier(0.075, 0.82, 0.165, 1) 2s infinite alternate;
}
@keyframes sample{
    0%{border-radius: 0%;}
    100%{border-radius: 50%; background-color: tomato; color: white;}
}

#box1{
    width: 150px;
    height: 150px;
    background-color: black;
    margin-left: 30%;
    animation-name: sample2;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: backwards;
}
@keyframes sample2{
    0%{background: yellow; width: 200px;}
    50%{background: green; width: 250px;}
    100%{background: red; width: 350px;}
}
#box2{
    width: 150px;
    height: 150px;
    background-color: black;
    margin-left: 30%;
    animation-name: sample2;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}
@keyframes sample2{
    0%{background: yellow; width: 200px;}
    50%{background: green; width: 250px;}
    100%{background: red; width: 350px;}
}

#box3{
    width: 150px;
    height: 150px;
    background-color: black;
    margin-left: 30%;
    animation-name: sample2;
    animation-duration: 3s;
    animation-delay: 1s;
    /* animation-fill-mode: forwards; */
}
#box3:hover{
    animation-play-state: paused;
}
@keyframes sample2{
    0%{background: yellow; width: 200px;}
    50%{background: green; width: 250px;}
    100%{background: red; width: 350px;}
}

#box4{
    width: 150px;
    height: 150px;
    background-color: black;
    margin-left: 30%;
    animation-name: sample2;
    animation-duration: 3s;
    animation-delay: 1s;
    /* animation-fill-mode: forwards; */
    animation-play-state: paused;
}
#box4:hover{
    animation-play-state: running;
}
@keyframes sample2{
    0%{background: yellow; width: 200px;}
    50%{background: green; width: 250px;}
    100%{background: red; width: 350px;}
}
