*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* position: absolute; */
}
h1{
    text-align: center;
    background-color: rgb(0, 152, 152);
    padding: 15px;
    /* position: sticky;
    top: 0; */
}






#menu{
    /* border: 1px solid salmon; */
    display: block;
    padding: 1em 0;
    text-align: center;
    background: #fff;
    position: sticky;
    top: 0;
}
#menu a{
    color: #006366;
    margin: 0 1em;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
}




div.section{
    /* border: 2px solid rgb(0, 0, 0); */
    padding: 60px 40px;
}

div.section h2{
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}




ul{
    list-style-position: inside ;
}


img{
    width: 50%;
}




#home{
    background-color: rgb(245, 183, 107);
}
#about{
    background-color: rgb(124, 106, 244);
}
#gallery{
    background-color: rgb(92, 188, 114);
}
#contact{
    background-color: rgb(245, 107, 116);
}


