@import "linesnaming.css";
@import "naminggridareas.css";
@import "minmax.css";
@import "implicitexplicit.css";
@import "griditemalign.css";
@import "gridtrackalign.css";
@import "gridautofill&autofit.css";
@import "fitcontent.css";
@import "gridorder.css";
@import "nested-grid.css";
@import "overlappinggrid.css";


*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}
h3{
    background: orange;
    padding-left: 20px;
}
pre{
    padding-left: 20px;
}
body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #d5d5d5; */
    font-size: 16px;
}

.title{
    background-color: rgb(14, 200, 200);
    text-align: center;
    padding: 5px;
}

#unordered{
    /* border: 1px solid black; */
    /* margin: 10px; */
    /* padding: 5px; */
    column-count: 3;
}

.green{
    color: green;
}
.orange{
    color: orange;
}
.purple{
    color: purple;
}
.golden{
    color: rgb(163, 125, 0);
}
.blue{
    color: blue;
}
.pink{
    color: rgb(187, 22, 49);
}


.container1{
    background: #eee;
    width: 700px;
    margin: 20px;
    display: grid;
    /* grid-template-columns: 150px 20% auto; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 200px); */
    /* grid-template-columns: repeat(2, 200px) 1fr; */
    grid-template-columns: 1fr repeat(2, 200px);
    grid-template-rows: 50px 70px ;
}

.items1{
    background: orangered;
}
.items2{
    background: yellowgreen;
}
.items3{
    background: slateblue;
}
.items4{
    background: hotpink;
}
.items5{
    background: royalblue;
}
.items6{
    background: goldenrod;
}

.container2{
    background: #eee;
    width: 700px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 100px 100px 100px ;
    /* grid-row-gap: 10px;
    grid-column-gap: 10px; */
    grid-gap: 10px 20px;  /*  shorthand  */
}

.container3{
    background: #eee;
    width: 700px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px 20px;  /*  shorthand  */
}

.p1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.p6{
    /* grid-row-start: 1;
    grid-row-end: 2; */
    grid-row: 1/2;    /*Shorthand for Grid-row start and end*/
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-column: 1/2;    /*Shorthand for Grid-column start and end*/
}
.p2{
    /* grid-row: 2/3;
    grid-column: 1/2; */
    grid-area: 2/1 / 3/2;    /*Shorthand for Grid-row and grid-column; row-start/column-start / row-end/column-end*/
}

.container4{
    background: #eee;
    width: 700px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px 20px;  /*  shorthand  */
}

.p1{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    z-index: 1;
}

.p6{
    /* grid-row-start: 1;
    grid-row-end: 2; */
    grid-row: 1/2;    /*Shorthand for Grid-row start and end*/
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-column: 1/3;    /*Shorthand for Grid-column start and end*/
}
.p2{
    /* grid-row: 2/3;
    grid-column: 1/2; */
    grid-area: 2/1 / 3/2;    /*Shorthand for Grid-row and grid-column; row-start/column-start / row-end/column-end*/
    /* z-index: 1; */
}
.p4{
    grid-area: 2/2 / 3/4;
}