.bg-warning {
    background: #1a2a6c;
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c) !important;
}

ul li a{
    text-decoration: none;
    font-weight: bold;
}